# Set default behavior to use LF line endings
* text=auto eol=lf

# Explicitly declare text files you want to always be normalized
*.c text
*.h text
*.java text
*.js text
*.py text
*.md text
*.txt text

# Whitespace handling
* whitespace=trailing-space,space-before-tab

#
